@font-face {
    font-family: "baloo";
    src: url("../fonts/Baloo.ttf");
}

body{
	background: orange;
	color:white;
	font-family: "baloo";
    margin: 0px;
}

.topnav {
    overflow: hidden;
    text-align: center;
}
#login-footer p{
    font-family: "baloo";
    vertical-align: center;
    margin:auto;
}
#login-footer{
    color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #f2b56b;
    position:fixed;
    font-size: 17px;
    margin-top: 100px;
    height: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    
}

/* Change the color of links on hover */
.topnav a:not(:last-child):hover {
    background-color: rgb(171, 250, 250);
    color: #2D343E;
}
.topnav a.icon{
    display: none;
}
#menu{
    color: black;
    width: 100%;
    height: 53px;
    text-align: center;
    
}


a:link{
    text-decoration: none;
    cursor:pointer;
    
}
a{
    opacity:1;
    transition:opacity 2s;
    
}

a:hover{
	color :aqua;
    opacity:0.2;
}
a:visited{
    color:blueviolet;
}
.update{
	color : blue;
}

.size{
	font-size : 23px;
    text-decoration: none;
    
}
.unlink{
    text-decoration: line-through;
    font-size : 23px;
}
table.teaching{
    border-collapse:separate;
    border-spacing: 30px;
    border-width:thick;
    border-style:solid;
    caption-side: top;
    border-color: aquamarine;
    border-radius: 23px;
}
table.course{
    border-collapse:separate;
    border-width:thick;
    border-style:solid;
    caption-side: top;
    border-color : aquamarine;
    border-radius: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 3px;
    padding-left: 3px;
    
}

.menu{
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top:8px;
    font-size:18px;
    background : linear-gradient(white,green);
    border-radius: 23px;
    box-shadow: 1px 1px white;
}
table.menu_right{
    display : none;
    border-collapse:separate;
    border-spacing: 20px;
    border-width:thick;
    border-style:solid;
    caption-side: top;
    border-radius: 23px;
    background:linear-gradient(orange,white);
}
menu_right_font{
    font-size :50px;
    
}
footer{
    color : purple;
    position: fixed;     
    text-align: right;    
    bottom: 0px; 
}


.page_change{
    text-align: center;
    margin-bottom: 20px;
}

p{
    font-size:24px;
}

img{
    margin-left:8px;
    border-radius:40px;
    
}
.contact_me:hover{
    border-radius: 40px;
    animation-name:anim2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#profile_image{
    animation-name: anim;
    animation-duration: 3s;
    animation-iteration-count: 0;
    border:2px solid green;
}


hr{
    border: 6px groove green;
    border-radius: 23px;
}

button{
    background: chocolate;
    height: 100px;
    width: 100px;
    border-radius: 23px;
    font-family: Florence, cursive;
    font-size:20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#slidebar{
    border:7px solid green;
}

/* tablet */
@media all and (max-width: 1024px) {
    td{
        text-align: center;
    }
    #login-footer p {
    vertical-align: center;
    margin: auto;
    color: #fafafa;
}
    
    img{
        width: 95%;
        margin: auto;
        padding: auto;
    }
#login-footer p {
    color: #fafafa;
}
#login-footer {
    background: transparent;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #202026;
    position: relative;
    font-size: 17px;
    margin-right: 0px;
    height: auto;
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "sacramento";
    font-size: 25px;
}

    body{
        background: azure;
        color : black;
        font-size : 40px;
    }
    .menu{
        font-size : 32px;
        display: none;
    }
    table.menu_right{
        margin-top: 100px;
        margin-right:10px;
        display : block;
        float : right;
        font-size : 32px;
        
    }
    footer{
        display: none;
    }
    .spacer{
        display : none;
    }
    .page_change{
        text-align: center;
    }
    .page_change a{
        display: block;
    }
    .contact_me{
        width: 30%;
        height: 10%;
        margin-bottom: 15px;
    }
    .size{
        font-size : 30px;
    }
    .unlink{
        font-size :30px;
    }
    p{
        font-size:50px;
    }
    .counter{
        display:none;
    }


 .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 48px;
    
  }
    .topnav{
        margin-right: auto;
    }
  .topnav.responsive {position:relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 48px;
  }
  
  .topnav.responsive a:not(:last-child) {
    float: none;
    display: block;
    text-align: right;
    font-size: 48px;
    margin-right: 1px;
  }
    .topnav.responsive a:first-child {
    margin-top: 90px;
  }


 #menu{
        height: 80px;
 
    }
    
    .format_size{
        display: none;
    }
}
@keyframes anim{
    0%{transform:scale(1,1);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}

} 
@keyframes anim2{
    0%{transform:scale(1,1);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
    
}
