 body{
	background: orange;
	color:white;
	font-family: Florence, cursive;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 50px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right : 10px;
}
a:link{
    text-decoration: none;
    cursor:pointer;
}

a:hover{
	color :aqua;
}
a:visited{
    color:blueviolet;
}
.update{
	color : blue;
}

.size{
	font-size : 18px;
    text-decoration: none;
}
.unlink{
    text-decoration: line-through;
    font-size : 18px;
}
table.teaching{
    border-collapse:separate;
    border-spacing: 30px;
    border-width:thick;
    border-style:dashed;
    caption-side: top;
}
table.course{
    border-collapse:collapse
    border-width:thick;
    border-style:groove;
    caption-side: top;
}

.menu{
    font-size:18px;
    background : white;
}
table.menu_right{
    display : none;
    border-collapse:separate;
    border-spacing: 20px;
    border-width:thick;
    border-style:solid;
    caption-side: top;
}
footer{
    color : purple;
    position: fixed;     
    text-align: right;    
    bottom: 0px; 
}


.page_change{
    text-align: center;
}





/* tablet */
@media all and (max-width: 1024px) {
    body{
        background: azure;
        color : black;
        font-size : 22px;
        font-family: monospace;
    }
    .menu{
        font-size : 24px;
        display: none;
    }
    table.menu_right{
        margin-top: 100px;
        margin-right:10px;
        display : block;
        float : right;
        font-size : 25px;
        background:orange;
    }
    table.teaching{
        font-size : 27;
    }
    table.course{
        font-size : 27;
    }
    footer{
        color :blueviolet;
    }
    .spacer{
        display : none;
    }
    .page_change{
        text-align: left;
    }
}

/* mobile phone */
@media all and (max-width: 768px) {
    body{
        background:darkcyan;
        font-size : 20px;
        font-family: monospace;
        
    }
    .menu{
        font-size : 22px;
        display: none;
    }
      table.menu_right{
        display : block;
        float : right;
        font-size : 25px;
        background:orange;
    }
    table.teaching{
        font-size : 27;
    }
    table.course{
        font-size : 27;
    }
    footer{
        color :blueviolet;
    }
    .spacer{
        display:none;
    }
}
