
body{
	background: orange;
	color:white;
	font-family: Florence, cursive;
	margin-bottom : 50px;
	margin-left : 50px;
	margin-right : 50px;
	margin-top : 50px;
	border: 10px groove white;
	padding-top: 10px;
	padding-bottom: 20px;
    padding-left: 10px;
    padding-right : 10px;
}

a:link{
    text-decoration: none;
    cursor:pointer;
    
}
a{
    opacity:1;
    transition:opacity 2s;
    
}

a:hover{
	color :aqua;
    opacity:0.2;
}
a:visited{
    color:blueviolet;
}
.update{
	color : blue;
}

.size{
	font-size : 18px;
    text-decoration: none;
    
}
.unlink{
    text-decoration: line-through;
    font-size : 18px;
}
table.teaching{
    border-collapse:separate;
    border-spacing: 30px;
    border-width:thick;
    border-style:solid;
    caption-side: top;
    border-color: aquamarine;
    border-radius: 23px;
}
table.course{
    border-collapse:separate;
    border-width:thick;
    border-style:solid;
    caption-side: top;
    border-color : aquamarine;
    border-radius: 23px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 3px;
    padding-left: 3px;
    
}

.menu{
    margin-top: 10px;
    padding-bottom: 8px;
    padding-top:8px;
    font-size:18px;
    background : linear-gradient(white,green);
    border-radius: 23px;
    box-shadow: 1px 1px white;
}
table.menu_right{
    display : none;
    border-collapse:separate;
    border-spacing: 20px;
    border-width:thick;
    border-style:solid;
    caption-side: top;
    border-radius: 23px;
    background:linear-gradient(orange,white);
}
menu_right_font{
    font-size :50px;
    
}
footer{
    color : purple;
    position: fixed;     
    text-align: right;    
    bottom: 0px; 
}


.page_change{
    text-align: center;
}

p{
    font-size:19px;
}

img{
    margin-left:8px;
    
    
}
.contact_me:hover{
    animation-name:anim2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#profile_image{
    animation-name: anim;
    animation-duration: 3s;
    animation-iteration-count: 1;
    border:2px solid green;
}

img:hover{
    transform: rotate(4deg);
}
hr{
    border: 6px groove green;
    border-radius: 23px;
}

button{
    background: chocolate;
    height: 100px;
    width: 100px;
    border-radius: 23px;
    font-family: Florence, cursive;
    font-size:20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#slidebar{
    border:7px solid green;
}

/* tablet */
@media all and (max-width: 1024px) {

    body{
        background: azure;
        color : black;
        font-size : 40px;
    }
    .menu{
        font-size : 42px;
        display: none;
    }
    table.menu_right{
        margin-top: 100px;
        margin-right:10px;
        display : block;
        float : right;
        font-size : 32px;
        
    }
    footer{
        display: none;
    }
    .spacer{
        display : none;
    }
    .page_change{
        text-align: left;
    }
    .size{
        font-size : 26;
    }
    .unlink{
        font-size :26;
    }
    p{
        font-size:22px;
    }
    .counter{
        display:none;
    }

}

/* mobile phone */
@media all and (max-width: 768px) {
    body{
        background:darkcyan;
        font-size : 20px;
        
    }
    .menu{
        font-size : 22px;
        display: none;
    }
      table.menu_right{
        display : block;
        float : right;
        font-size : 32px;
    }
    footer{
        display:none;
    }
    .spacer{
        display:none;
    }
      .size{
        font-size : 26;
    }
    .unlink{
        font-size :26;
    }
    p{
        font-size:22px;
    }
}
@keyframes anim{
    0%{transform:scale(2,2);}
    25%{transform:rotate(3deg);}
    50%{transform:rotate(-3deg);}
    75%{transform:rotate(5deg);}
    100%{transform:rotate(-5deg);}

} 
@keyframes anim2{
    0%{transform:scale(2,2);}
    25%{transform:rotate(90deg);}
    50%{transform:rotate(180deg);}
    75%{transform:rotate(270deg);}
    100%{transform:rotate(360deg);}
    
}
